<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  </head>
  <body>
    <h1>Sobre nosotros</h1>
    <p>

      <a href="http://railstutorial.org">Ruby on Rails Tutorial</a> es un proyecto para hacer un libro
      y screencasts para enseñar desarrollo web con <a href="http://rubyonrails.org">Ruby on Rails</a>.
      Este es la aplicación de ejemplo del tutorial.
    </p>
  </body>
</html>
