<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | Contact</title>
  </head>
  <body>
    <h1>Contacto</h1>
    <p>
      pongase en contacto sobre el tutorial de Ryby on Rails Tutorial en
      <a href="http://railstutorial.org/feedback">feedback page</a>
    </p>
  </body>
</html>
